<div id="footer">
  <div class="row">
    <div class="col-xs-6">
      Evan Stoner. Based on Michael Hartl's <a href="http://railstutorial.org/">Rails Tutorial</a>.
    </div>
    <div class="col-xs-6 text-right">
      <%= link_to "Home",       root_path %> &bull;
      <%= link_to "About",      about_path %> &bull;
      <%= link_to "Help",       help_path %> &bull;
      <%= link_to "Contact",    contact_path %> &bull;
      <b><%= link_to "Sign In", "#" %></b>
    </div>
  </div>
</div>